/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* ## Opdracht 2.1:*/
.one {
    position: relative;

}
.tekst1 {
    position: absolute;
    bottom: 100px;
    padding-left: 20px;
    font-size: 20px;
}
.tekst2 {
    position: absolute;

}

/* ## Opdracht 2.2:*/

.tekst3{
    position: relative;
    padding-left: 900px;
}
.two {
    display: flex;
    order: 5;
}

/* ## Opdracht 2.3:*/
.three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3em;
    padding-bottom: 3em;
}
ul {
    display: flex;

}

li {
    list-style:none;
    padding-right: 3em;
}

/* ## Opdracht 2.4:*/

.Login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ## Opdracht 2.5:*/

.five {
     display: flex;
    flex-wrap: wrap;
    padding: 0;
    }
.item {
    width: 100%;
    padding: 1em;

}
.item2 {
    width: 50%;
    padding: 0;
}





